* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo";

}

section {
    margin: 5.1%;
}

nav {
    width: 100vw;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 0px 70px;


    ul {

        display: flex;
        list-style: none;
        gap: 27px;
        font-weight: 600;
        font-size: 16px;

        a {
            text-decoration: none;
            color: black;
            font-weight: 400;
            font-size: 18px;
        }

        a:hover {
            color: #FF782D;
        }


    }

    .login {

        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

            a {
            text-decoration: none;
            color: black;
            font-weight: 400;
            font-size: 18px;
        }

        a:hover {
            color: #FF782D;
        }

        .search {
            width: 40px;
            height: 40px;
            border: #FF782D solid 2px;
            border-radius: 50%;
            align-content: center;
            text-align: center;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;

            }

        }



    }

    .bars {
        border: none;
        background: none;
        cursor: pointer;
        display: none;
        color: #000000;

    }
}

.Website {
    height: 40px;
    background-color: #F5F5F5;
    padding: 60px 0;

    .web {
        align-content: center;
        padding: 24px 70px;
    }

    a {
        text-decoration: none;
        font-family: Jost;
        font-weight: 400;
        font-size: 16px;
        color: #555555;
    }

    a:hover {
        color: #FF782D;
    }


    .grey {
        font-family: Jost;
        font-weight: 400;
        font-size: 16px;
        color: #9D9D9D;
    }
}

.blog {
    .info {
        display: flex;
        justify-content: space-between;

        h1 {
            font-family: Exo;
            font-weight: 600;
            font-size: 36px;
        }

        .top {


            .right {
                display: flex;

                .search {
                    input {
                        margin-right: 20px;
                        justify-content: space-between;
                        border: none;
                        border-bottom: #000000 1px solid;
                    }
                }
            }
        }

        .photoo {
            img {
                width: 15px;
                height: 15px;
                margin-left: 8px;
            }

            .rec {
                width: 20px;
                height: 20px;
            }
        }



    }

    .container1 {
        display: flex;
        justify-content: space-around;
        margin: 5.1%;
        flex-wrap: wrap;
        gap: 20px;

        .card1 {
            max-width: 385px;
            border: 1px solid #EAEAEA;
            border-radius: 20px;
            margin-bottom: 20px;

            .image {
                img {
                    border-radius: 20px 20px 0 0;
                }
            }

            .text1 {
                justify-content: center;
                align-items: center;
                margin: 20px 0 20px 20px;
                gap: 20px;

                h4 {
                    font-family: Exo;
                    font-weight: 600;
                    font-size: 20px;
                    color: #000000;
                }
            }

            .icon {
                margin-left: 20px;
                display: flex;
                gap: 12px;

                p {
                    font-family: Jost;
                    font-weight: 400;
                    font-size: 16px;
                    color: #555555;
                }
            }

            .text2 {
                margin: 16px 20px 20px 20px;

                p {
                    font-family: Jost;
                    font-weight: 400;
                    font-size: 18px;
                    color: #555555;
                }



            }
        }




    }
}



.scrol {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
    margin: 70px 0;

    .square {
        width: 48px;
        height: 48px;
        border: 1px solid darkgray;
        border-radius: 50%;
        text-align: center;
        align-content: center;

        a {
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            font-weight: 400;
            font-size: 18px;
            color: #000000;

        }
    }

    .square:hover {
        background-color: #000000;
        a{
            color: white;
        }
        
    }
}

footer {
    background-color: #F5F5F5;

    .foot {
        display: flex;
        padding: 70px 50px 0 70px;
        justify-content: space-between;
        gap: 30px;

        .edu {
            img {
                width: 166px;
                height: 30px;
                margin-bottom: 37px;
            }

            p {
                color: #555555;
                width: 341px;
                height: 69px;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;


            }
        }




        h2 {
            margin-bottom: 32px;
        }

        ul {

            display: flex;
            list-style: none;
            flex-direction: column;
            gap: 20px;
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;


            a {
                text-decoration: none;
                color: #555555;
                font-weight: 400;
                font-size: 18px;
            }

            a:hover {
                color: #FF782D;
            }
        }

        .contact {
            .address {
                width: 340px;
                height: 54px;
                color: #555555;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 16px;

            }

            .tel {
                width: 340px;
                height: 56px;
                color: #555555;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 16px;
            }

            .socialmedia {

                a {

                    img {
                        margin-right: 8px;
                    }
                }

            }
        }
    }

    .Copyright {
        max-width: 452px;
        height: 27px;
        text-align: center;
        align-content: center;
        justify-self: center;
        padding-bottom: 70px;
        margin-top: 30px;
        padding-top: 15px;
        font-family: Jost;
        font-weight: 400;
        font-size: 18px;
        color: #555555;


    }



}



@media screen and (max-width : 992px) {
    nav {
        padding: 0 20px;

        ul,
        .login {
            display: none;
        }

        .bars {
            display: block;
        }
    }

    .Website {
        a {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            color: #555555;
        }

        .grey {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            color: #9D9D9D;


        }
    }

    .blog {
        /* width: 318px; */
        flex-direction: column;

        .info {
            flex-direction: column;
            max-width: 320px;
            gap: 10px;
            text-align: start;
            margin:50px 20px ;

            h1 {
                font-family: Exo;
                font-weight: 600;
                font-size: 32px;
            }

            .top {
                max-width: 320px;
                
                gap: 10px;


                h1 {
                    width: 260px;
                    font-family: Exo;
                    font-weight: 600;
                    font-size: 32px;
                }

                p {
                    text-align: center;
                    width: 218px;
                    margin-left: 15px;
                }

            }




        }

        .container1 {
            flex-direction: column;
            margin-left: 20px;
            gap: 35px;

            .card1 {
                width: 318px;

                .image {
                    img {
                        width: 318px;
                        height: 206px;


                    }

                }
            }
        }

        .btn2 {
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 90px;
            margin-top: 20px;
            margin-bottom: 70px;
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;
        }
    }

    footer {
        background-color:#F5F5F5     ;
        padding: 0;
        margin-left: -50px;

        .foot {
            flex-direction: column;

            .edu {
                img {
                    width: 166px;
                    height: 30px;
                }

                p {
                    width: 320px;
                    height: 108px;


                }
            }

            h2 {
                font-family: Exo;
                font-weight: 600;
                font-size: 20px;
            }

            ul {
                font-family: Jost;
                font-weight: 500;
                font-size: 18px;

            }
        }

        .Copyright {
            width: 320px;
            height: 54px;
            font-family: Jost;
            font-weight: 400;
            font-size: 18px;
            margin-left: 40px;

        }


    }
}