* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo";

}

.mar {
    margin: 5.1%;
}

nav {
    width: 100vw;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 0px 70px;


    ul {

        display: flex;
        list-style: none;
        gap: 27px;
        font-weight: 600;
        font-size: 16px;

        a {
            text-decoration: none;
            color: black;
            font-weight: 400;
            font-size: 18px;
        }

        a:hover {
            color: #FF782D;
        }


    }

    .login {

        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: black;
            font-weight: 400;
            font-size: 18px;
        }

        a:hover {
            color: #FF782D;
        }


        .search {
            width: 40px;
            height: 40px;
            border: #FF782D solid 2px;
            border-radius: 50%;
            align-content: center;
            text-align: center;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;

            }

        }



    }

    .bars {
        border: none;
        background: none;
        cursor: pointer;
        display: none;
        color: #000000;

    }
}

.Website {
    height: 40px;
    background-color: #F5F5F5;
    padding: 60px 0;

    .web {
        align-content: center;
        padding: 24px 70px;
    }

    a {
        text-decoration: none;
        font-family: Jost;
        font-weight: 400;
        font-size: 16px;
        color: #555555;
    }

    a:hover {
        color: #FF782D;
    }


    .grey {
        font-family: Jost;
        font-weight: 400;
        font-size: 16px;
        color: #9D9D9D;
    }
}

.faq {
    h1 {
        font-family: Exo;
        font-weight: 600;
        font-size: 32px;
    }

    .container {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        gap: 10px;

        .left {

            .free {
                width: 594px;
                height: 64px;
                padding: 22.5px 30px;
                background-color: #F5F5F5;
                border-radius: 10px;
                align-items: center;
                margin-top: 30px;

                .content {

                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    img {
                        width: 12px;
                        height: 7.5px;
                        align-items: center;
                    }

                    h3 {
                        width: 500;
                        font-family: Exo;
                        font-weight: 600;
                        font-size: 16px;


                    }
                }

                p {
                    width: 534px;
                    font-family: Jost;
                    font-weight: 400;
                    font-size: 18px;
                    padding: 20px 30px;
                    color: #555555;
                    display: none;

                }
            }

            .free1 {
                width: 594px;
                height: 192px;
                padding: 22.5px 30px;
                background-color: #F5F5F5;
                border-radius: 10px;
                align-items: center;
                margin-top: 30px;

                .content {

                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    img {
                        width: 12px;
                        height: 7.5px;
                        align-items: center;
                    }

                    h3 {
                        width: 500;
                        font-family: Exo;
                        font-weight: 600;
                        font-size: 16px;


                    }
                }

                p {
                    width: 534px;
                    font-family: Jost;
                    font-weight: 400;
                    font-size: 18px;
                    padding: 20px 30px;
                    color: #555555;

                }
            }

            p {
                width: 288px;
                height: 216px;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                padding: 20px 30px;
                color: #555555;

            }




        }

        .right {
            .free {
                width: 594px;
                height: 64px;
                padding: 22.5px 30px;
                background-color: #F5F5F5;
                border-radius: 10px;
                align-items: center;
                margin-top: 30px;

                .content {

                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    img {
                        width: 12px;
                        height: 7.5px;
                        align-items: center;
                    }

                    h3 {
                        width: 500;
                        font-family: Exo;
                        font-weight: 600;
                        font-size: 16px;


                    }
                }
            }


            p {
                width: 534px;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                margin-left: 30px;
                color: #555555;
                display: none;

            }
        }
    }

}

.free:hover {
    h3 {
        color: #FF782D;
    }
}

.free1:hover {
    h3 {
        color: #FF782D;
    }
}

.image {
    margin: 50px 0 0 70px;

    img {
        width: 556px;
        height: 321px;


    }
}

footer {
    background-color: #F5F5F5;

    .foot {
        display: flex;
        padding: 70px 50px 0 70px;
        justify-content: space-between;
        gap: 30px;

        .edu {
            img {
                width: 166px;
                height: 30px;
                margin-bottom: 37px;
            }

            p {
                color: #555555;
                width: 341px;
                height: 69px;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;


            }
        }




        h2 {
            margin-bottom: 32px;
        }

        ul {

            display: flex;
            list-style: none;
            flex-direction: column;
            gap: 20px;
            font-family: Jost;
            font-weight: 500;
            font-size: 18px;


            a {
                text-decoration: none;
                color: #555555;
                font-weight: 400;
                font-size: 18px;
            }

            a:hover {
                color: #FF782D;
            }
        }

        .contact {
            .address {
                width: 340px;
                height: 54px;
                color: #555555;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 16px;

            }

            .tel {
                width: 340px;
                height: 56px;
                color: #555555;
                font-family: Jost;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 16px;
            }

            .socialmedia {

                a {

                    img {
                        margin-right: 8px;
                    }
                }

            }
        }
    }

    .Copyright {
        max-width: 452px;
        height: 27px;
        text-align: center;
        align-content: center;
        justify-self: center;
        padding-bottom: 70px;
        margin-top: 30px;
        padding-top: 15px;
        font-family: Jost;
        font-weight: 400;
        font-size: 18px;
        color: #555555;


    }



}




@media screen and (max-width : 992px) {
    nav {
        padding: 0 20px;

        ul,
        .login {
            display: none;
        }

        .bars {
            display: block;
        }
    }

    .Website {
        margin-left: -30px;

        a {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            color: #555555;
        }

        .grey {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            color: #9D9D9D;


        }
    }

    .faq {
        h1 {
            font-family: Exo;
            font-weight: 600;
            font-size: 32px;
        }

        .container {
            flex-direction: column;
            margin: 20px;

            .left {
                .free {
                    max-width: 320px;

                    h3 {
                        width: 241px;
                    }

                }

                .free1 {
                    width: 320px;
                    height: 300px;
                    gap: 20px;


                    p {
                        width: 288px;
                        margin-left: -30px;
                        text-align: start;


                    }
                }
            }

            .right {
                .free {
                    max-width: 320px;

                    h3 {
                        width: 241px;
                    }

                }

                .free1 {
                    width: 320px;
                    height: 300px;
                    gap: 20px;

                }
            }
        }
    }

    .image {
        margin: 50px 20px 0 20px;

        img {
            width: 320px;
            height: 233px;
        }
    }

    footer {
        background-color:#F5F5F5     ;
        padding: 0;
        margin-left: -50px;

        .foot {
            flex-direction: column;

            .edu {
                img {
                    width: 166px;
                    height: 30px;
                }

                p {
                    width: 320px;
                    height: 108px;


                }
            }

            h2 {
                font-family: Exo;
                font-weight: 600;
                font-size: 20px;
            }

            ul {
                font-family: Jost;
                font-weight: 500;
                font-size: 18px;

            }
        }

        .Copyright {
            width: 320px;
            height: 54px;
            font-family: Jost;
            font-weight: 400;
            font-size: 18px;
            margin-left: 40px;

        }


    }


}